{% extends "creationcompte.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <div class="pro_container">
        {% if users is empty %}
            <p>Aucun utilisateur trouvé.</p>
        {% else %}
            {% for user in users %}
                <div class="box_products">
                    <div class="des">
                        <h5 class="titre_utilisateur">{{ user['nom'] }} {{ user['prenom'] }}</h5>
                        <p>Email: {{ user['mail'] }}</p>
                        <!-- Vous pouvez ajouter d'autres informations ici selon vos besoins -->
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


