{% extends "creationcompte.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="pro_container">
            {% for user in users %}
                <div class="box_products white-box">
                    <div class="des white-text">
                        <h5 class="titre_utilisateur">{{ user['nom'] }} {{ user['prenom'] }}</h5>
                        <p class="white-text">Email: {{ user['mail'] }}</p>
                        <p class="white-text">est professeur: {{ user['est_professeur'] }}</p>
                        <p class="white-text">tag nfc: {{ user['tag_nfc'] }}</p>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}



